{% extends "master.twig" %}

{% block main_content %}
    <div class="inner cover">  
        
    	<h1>About PHP Dorset</h1>

    	<p>
    		PHP Dorset is a local user group, open to all.
            We have monthly talks followed by a social.
    	</p>


    </div>
{% endblock %}
