{% extends "master.twig" %}

{% block main_content %}
<div id="strapline">
    <div class="wrapper">

        <p>
            PHP Dorset is a Bournemouth based community for anyone interested in the PHP programming language, or web development in general.
        </p>

    </div>
</div>
<div class="inner">
    <h3>About PHP Dorset</h3>
    <div class="wrapper clearfix document">


        <p>PHP Dorset provides online and offline opportunities to: </p>
        <ul>
            <li>discuss PHP and related topics</li>
            <li>socialise with friendly people who are interested in PHP</li>
            <li>find or fill PHP related jobs</li>
        </ul>

        <p>We want PHP Dorset to be a diverse and inclusive community, united by an interest in PHP, and so we want anyone who is interested in PHP to be able to participate.</p>
    </div>

    <div class="wrapper clearfix document">
        <h3>Quick Jump</h3>
        <ul>
            <li><a href="#code-of-conduct">Code of Conduct</a>
                <ul>
                    <li><a href="#incident-handling">Incident Handling</a></li>
                </ul>
            </li>
            <li><a href="#volunteers">Volunteer Team</a></li>
            <li><a href="#meetings">Meetings</a>
                <ul>
                    <li><a href="#talks">Talks</a>
                        <ul>
                            <li><a href="#scheduling">Scheduling</a></li>
                            <li><a href="#subject-matter">Subject matter</a></li>
                            <li><a href="#timing">Timing</a></li>
                            <li><a href="#after-talks">After the talks</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#sponsorship">Sponsorship</a></li>
            <li><a href="#about-this">About this document</a></li>
        </ul>
    </div>
    <div class="wrapper clearfix document">
        <h3><a name="code-of-conduct">Code of Conduct</a></h3>

        <p>It is of primary importance that everyone who wants to participate feels safe and welcome. When participating in PHP Dorset, either online or offline, at venue or at the pub afterwards, we expect you to: </p>
        <ul>
            <li>behave respectfully towards other people — they’re real humans, just like you</li>
            <li>be considerate of people’s time and attention</li>
            <li>contribute positively and constructively to discussions (online or in-person)</li>
        </ul>

    </div>
    <div class="wrapper clearfix document">

        <h3><a name="incident-handling">Incident Handling</a></h3>

        <p>We want everyone to feel welcome at PHP Dorset, regardless of gender, sexual orientation, disability, physical appearance, body size, race, or religion.
        Accordingly, we will not tolerate harassment of our members in any form; not at the talks, not at the pub after the talks, or any other PHP Dorset social meeting; not on Twitter or on any other online media.</p>

        <p>Harassment includes invasions of personal space, exclusionary jokes/comments, and sexual language and imagery in talks, but this list is non-exhaustive:
        if you make anyone feel uncomfortable or unwelcome, you will be asked to leave.</p>

        <p>If you’re still in need of clarification, there are a number of good resources online which we encourage you read. The main thing to remember though,
        is that if someone feels harassed or excluded by your words or actions, then those words or actions constitute harassment or exclusion. <em>Your intent is not a factor</em>.</p>

        <p>All PHP Dorset participants are accountable for their own behaviour. If you’ve behaved badly elsewhere, that may count against you here, because of the effect it has on other attendees.</p>

        <p>If you experience or witness any harassing behaviour, please report it to a member of the <a href="#volunteers">volunteer team</a>.</p>
    </div>
    <div class="wrapper clearfix document">

        <h3><a name="volunteers">Volunteer Team</a></h3>
        <ul>
            <li><a href="https://twitter.com/dave1010">Dave Hulbert / @dave1010</a></li>
            <li><a href="https://twitter.com/rossey">Alex Ross / @rossey</a></li>
            <li><a href="https://twitter.com/hughbertd">Hugh Downer / @HughbertD</a></li>
            <li><a href="https://twitter.com/tweetingsherry">Chris Sherry / @tweetingsherry</a></li>
        </ul>
    </div>
    <div class="wrapper clearfix document">
        <h3><a name="meetings">Meetings</a></h3>

        <p>We meet once a month at <a href="https://www.google.com/maps?ll=50.724055,-1.906312&z=16&t=m&hl=en-US&gl=US&mapclient=embed&cid=4020339563874231918">the Barclays Eagle Labs in Westbourne</a>,
        usually on the first Monday (although we shift to the second Monday for bank holidays) from 6.30pm.
        There are typically one or two talks and then we go to the <a href="https://www.google.co.uk/maps/place/The+Libertine+Westbourne">The Libertine</a> for a social. There’s tea and coffee and occasionally beer available at the talks venue, we provide vegetarian and meat pizzas and can order gluten free on request;</p>

        <p>To stay informed about our upcoming meetings you can:</p>
        <ul>
            <li>follow us on twitter <a href="https://twitter.com/PHP Dorset">@PHPDorset</a></li>
            <li>follow us on <a href="http://www.eventbrite.co.uk/o/PHPDorset-5284449005">Eventbrite</a></li>
            <li>join us on <a href="https://slackin-phpdorset.herokuapp.com/">Slack</a></li>
        </ul>

    </div>
    <div class="wrapper clearfix document">

        <h3><a name="talks">Talks</a></h3>

        <p>Most of our meetings have talks from community members and we’re always looking for people to give a talk.
        If you’d like to give a talk you should get in touch with us (@PHPDorset, PHPDorset@gmail.com) and suggest it.</p>

        <p>Our goal is to accept any offered talk. If your talk is obviously about PHP there’s no question about it; you can definitely give your talk.
        If it’s not so obviously about PHP we’ll have a discussion first to see what the hook is for PHP developers. We’re quite an open-minded group,
        so the hook doesn’t have to be that clear. In the unlikely event that it turns out that PHP Dorset isn’t a good home for your talk, we’ll do our best to come up with
        some alternative ideas for places you could give it.</p>

        <h4><a name="scheduling">Scheduling</a></h4>

        <p>Slots for talks are first-come, first-served. Once you’ve decided to give your talk we’ll let you know when a free slot
        will be available at a meeting. We usually have two talks per meeting, so if there are 4 people on our list of volunteers
        when you offer your talk it’s most likely that the third meeting is the one we’d schedule you for. Of course, people drop out
        or aren’t available for a specific meeting so you might get a slot sooner.</p>

        <p>If there is a specific future meeting that would be most convenient for you, let us know and we’ll do our best to accommodate that.</p>

        <h4><a name="subject-matter">Subject matter</a></h4>

        <p>PHP Dorset is a mixed-ability crowd; we have talks from first-timers just learning PHP all the way up to people that have been using it for years.
        This means you can pitch your talk at any level and someone will get something out of it. It’s also a mostly technical crowd, so don’t shy away
        from getting into the nitty gritty of your topic. We’d prefer an in-depth discussion of a single aspect to a shallow overview of the whole thing.</p>

        <p>Your talk should observe the code of conduct. Any talks that don’t will be stopped and the speaker asked to leave.</p>

        <p>If you are using the projector you should favour large fonts and a high contrast colour scheme with dark text on a light background in anything you show.
        The default settings for most presentation applications are a safe bet, but you might have to re-configure your terminal or editor if you are using those for anything.
        Also note that while the projector will cope with most screen resolutions, it works best at 1024x768. Most presentation applications will automatically resize,
        but you might want to check your slides at that resolution.</p>

        <h4><a name="timing">Timing</a></h4>

        <p>Our normal pattern for a meeting is two speakers with 45 minute time slot and a 25 minute slot, although one-off meetings might be different.</p>

        <p>A slot isn’t how long your talk should be, but how much time you will get in front of the group. You can fill that time slot as you see fit (talk + questions, talk only, etc).</p>

        <p>If you have a talk idea but feel it is too long or too short for our normal slots, please speak to us as we are always willing to discuss how we could work it into our meetings.</p>

        <h4><a name="after-talks">After the talks</a></h4>

        <p>When the talks are finished, usually around 8pm, most of the group head over to <a href="https://www.google.co.uk/maps/place/The+Libertine+Westbourne">The Libertine</a>. This part of the meeting is your opportunity to socialise with other PHP Dorset members and speak with the presenters about their talks.</p>

        <p>Just because we’re in a pub doesn’t mean you have to drink alcohol. If you do choose to drink alcohol we encourage you to explore the food menu and drink responsibly.</p>

        <p>Although the venue for this part of the meeting is a pub and therefore feels more informal, be aware that the code of conduct still applies.</p>
    </div>
    <div class="wrapper clearfix document">

        <h3><a name="sponsors">Sponsorship</a></h3>

        <p>PHP Dorset is sponsored by <a href="http://www.spectrumit.co.uk/">SpectrumIT</a> who cover the venue and pizzas. We don’t currently need venue sponsorship or an alternate venue or main sponsor.</p>

        <p>There are opportunities for drinks sponsorship during the meeting, or bar-tab sponsorship after the meeting at the pub. If you would like to provide sponsorship you should get in touch with us (@PHPDorset, PHPDorset@gmail.com) to find out the prices and arrange it.</p>

        <p>In return for your sponsorship PHP Dorset will: </p>
        <ul>
            <li>put your logo in the sponsor side-bar on the relevant meeting page on PHP Dorset.co.uk</li>
            <li>mention the specifics of your sponsorship in the main details of the relevant meeting page on PHP Dorset.co.uk</li>
            <li>mention the sponsorship in the meeting announcement email on the mailing list</li>
            <li>tweet about the sponsorship from @PHPDorset at least once to announce it and once on the day as a reminder</li>
            <li>mention you at the start of the meeting, and make sure you have 30seconds or so during our announcements section to talk to the group</li>
        </ul>


        <p>We also have community sponsorship from <a href="https://www.jetbrains.com/">Jetbrains</a>, who provide free licenses to their awesome
        software for our competitions, and from <a href="http://www.oreilly.com/">O'Reilly</a> books who provide a user group discount for our members</p>
    </div>
    <div class="wrapper clearfix document">
        <h3><a name="about-this">About this document</a></h3>

        <p>This document was taken from the <a href="http://lrug.org/">LRUG.org</a> Readme, and modified for PHP Dorset.  It is supposed to be a living document and as such contributions
        are welcome via our <a href="https://github.com/PHP Dorset/PHP Dorset.github.io">Github repository</a></p>
    </div>
</div>
{% endblock %}
