{% extends "master.twig" %}

{% block main_content %}
    <div class="inner cover">  
        
    	<h1>About PHP Dorset</h1>

    	<p>
    		PHP Dorset is a local user group, open to all.
            We have monthly talks followed by a social. We usually hold our talks on the first Monday of the month at <a href="https://www.google.com/maps/place/Westbourne+Library/@50.721794,-1.902,17z" target="_blank">Westbourne Library</a> and then our social event is held at the <a href="https://www.google.com/maps/place/The+Libertine/@50.722335,-1.904852,17z" target="_blank">Libertine Pub</a> in Westbourne.
    	</p>

    </div>
{% endblock %}
