{% extends "master.twig" %}

{% block main_content %}
            <div class="inner cover">  
                <div class="contact-list">   
                    <h3 class="digital">
                    Contact us
                    </h3>           
                    <ul>
                        <li>
                            <a href="http://phpdorset.us3.list-manage2.com/subscribe?u=5ba37a56b9aba93ca8d1713e9&id=c699537e19">
                                <h4>Newsletter signup</h4>
                            </a>
                        </li>
                        <li>
                            <a href="irc://irc.freenode.net:6667/phpdorset">
                                <h4>IRC</h4>
                                #phpdorset on freenode.net
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/phpdorset">
                                <h4>Twitter</h4> 
                                https://twitter.com/phpdorset
                            </a>
                        </li>
                        <li>
                            <a href="http://www.eventbrite.co.uk/org/5284449005">
                                <h4>Events</h4> 
                                http://www.eventbrite.co.uk/org/5284449005</a>
                        </li>
                        <li>
                            <a href="https://groups.google.com/forum/?fromgroups#!forum/phpdorset">
                                <h4>Mailing List</h4> 
                                https://groups.google.com/forum/?fromgroups#!forum/phpdorset
                            </a>
                        </li>
                        <li>
                            <a href="https://moot.it/phpdorset">
                                <h4>Forum</h4> 
                                https://moot.it/phpdorset
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
{% endblock %}
