{% extends "master.twig" %}

{% block main_content %}
            <div class="inner cover">  
                <div class="contact-list">

                    <h3 class="digital">
                    Contact us
                    </h3>           
                    <ul>

                        <li>
                            <a href="https://twitter.com/phpdorset">
                                <h4>Twitter</h4> 
                                @phpdorset
                            </a>
                        </li>


                        <li>
                            <a href="javascript:alert('phpdorset at gmail dot com')">
                                <h4>Email</h4>

                            </a>
                        </li>
                    </ul>
                </div>
            </div>
{% endblock %}
