            <div class="inner cover">  
                <div class="contact-list">   
                    <h3 class="digital">
                    Contact us
                    </h3>           
                    <ul>
                        <li>
                            IRC: <a href="irc://irc.freenode.net:6667/phpdorset">#phpdorset on freenode.net</a>
                        </li>
                        <li>
                            Twitter: <a href="https://twitter.com/phpdorset">https://twitter.com/phpdorset</a>
                        </li>
                        <li>
                            Events: <a href="http://www.eventbrite.co.uk/org/5284449005">http://www.eventbrite.co.uk/org/5284449005</a>
                        </li>
                        <li>
                            Mailing List: <a href="https://groups.google.com/forum/?fromgroups#!forum/phpdorset">https://groups.google.com/forum/?fromgroups#!forum/phpdorset</a>
                        </li>
                        <li>
                            Forum: <a href="https://moot.it/phpdorset">https://moot.it/phpdorset</a>
                        </li>
                    </ul>
                </div>
            </div>