{% extends "master.twig" %}

{% block extra_headers %}
    <script type="application/javascript" src="/scripts/box-heights.js"></script>
{% endblock %}

{% block main_content %}

<div id="strapline">
    <div class="wrapper">

        <p>
            Whether you are starting to learn PHP or an industry veteran, our events are all inclusive and range in depth.
        </p>

    </div>
</div>


<div class="wrapper clearfix inner">

    <h2>Ways you can get involved</h2>

    <div class="pod">

        <h3>Join us on messaging</h3>

        <p>
            We like nothing better than to talk about code. <br/> We're now on Slack - Come say hello!.
        </p>

        <a class="btn" href="https://slack.phpdorset.co.uk">
            Connect on Slack
        </a>

    </div>

    <div class="pod">

        <h3>Attend Events</h3>

        <p>
            We meet every second Monday of the month for talks and/or socials (Currently suspended due to COVID-19).
        </p>

     </div>

    <div class="pod">

        <h3>Sign up for meeting updates</h3>

        <a class="btn" href="https://www.meetup.com/PHPDorset">
            Join us on Meetup.com
        </a>

    </div>

    <div class="pod">

        <h3>Submit a talk</h3>

        <p>Everyone knows about something someone else won't, share your knowledge by giving a talk! First time speakers welcome.</p>

        <a class="btn" href="mailto:phpdorset@gmail.com?subject=I would like to talk at PHPDorset">Email your abstract</a>

    </div>



</div>

{% endblock %}
