{% extends "master.twig" %}

{% block extra_headers %}
    <script type="application/javascript" src="/scripts/box-heights.js"></script>
{% endblock %}

{% block main_content %}

<div id="strapline">
    <div class="wrapper">

        <p>
            Whether you are starting to learn PHP or an industry veteran, our events are all inclusive and range in depth.
        </p>

    </div>
</div>


<div class="wrapper clearfix inner">

    <h2>Ways you can get involved</h2>

    <div class="pod">

        <h3>Join us on messaging</h3>

        <p>
            We like nothing better than to talk about code. <br/> We're now on Slack &amp; IRC - Come say hello!.
        </p>

        <a class="btn" href="https://slack.phpdorset.co.uk">
            Connect on Slack
        </a>

        <a class="btn" href="irc://irc.freenode.net:6667/phpdorset">
            Connect on IRC
        </a>

    </div>

    <div class="pod">

        <h3>Attend Events</h3>

        <p>
            We meet every second Monday of the month for talks and/or socials.
        </p>

        <a class="btn" href="https://www.eventbrite.co.uk/org/5284449005">Eventbrite events</a>

     </div>

    <div class="pod">

        <h3>Sign up to our press</h3>

        <p>
            Stay up to date with our events and news with our mailing lists.
        </p>

        <a class="btn" href="http://phpdorset.us3.list-manage2.com/subscribe?u=5ba37a56b9aba93ca8d1713e9&id=c699537e19">
            Mailing list
        </a>

        <a class="btn" href="https://groups.google.com/forum/?fromgroups#!forum/phpdorset">
            Google group
        </a>
        <br/><br/>
        <p><a href="https://us3.campaign-archive2.com/home/?u=5ba37a56b9aba93ca8d1713e9&id=c699537e19">
            See past issues
        </a></p>


    </div>

    <div class="pod">

        <h3>Submit a talk</h3>

        <p>Everyone knows about something someone else won't, share your knowledge by giving a talk! First time speakers welcome.</p>

        <a class="btn" href="mailto:phpdorset@gmail.com?subject=I would like to talk at PHPDorset">Email your abstract</a>

    </div>



</div>

{% endblock %}
