{% extends "master.twig" %}

{% block main_content %}

<div id="strapline">
    <div class="wrapper">

        <p>
            Whether you are starting to learn PHP or an industry veteran, our events are all inclusive and range in depth. We have a great selection of professionals who are happy to share their knowledge and experiences and if you have an issue you'd like to discuss we will either have a solution or know where to look for one.
        </p>

    </div>
</div>


<div class="wrapper clearfix inner">

    <h2>Ways you can get involved</h2>

    <div class="pod">

        <h3>Join us on IRC</h3>

        <p>
            We like nothing better than to talk about code. <br/> You can find us on channel #phpdorset on freenode.net
        </p>

        <a class="btn" href="irc://irc.freenode.net:6667/phpdorset">
            Connect with us on IRC
        </a>

    </div>

    <div class="pod">

        <h3>Attend Events</h3>

        <p>
            We meet every (almost) first Monday of the month for talks. Talks are followed by socials meets at local pubs or bars
        </p>

        <a class="btn" href="http://www.eventbrite.co.uk/org/5284449005">Find our events on Eventbrite</a>

     </div>

    <div class="pod">

        <h3>Sign up to our press</h3>

        <p>
            Stay up to date with our events news with our mailing lists
        </p>

        <a class="btn" href="http://phpdorset.us3.list-manage2.com/subscribe?u=5ba37a56b9aba93ca8d1713e9&id=c699537e19">
            Mailing List
        </a>

        <a class="btn" href="https://groups.google.com/forum/?fromgroups#!forum/phpdorset">
            Google Group
        </a>
        <br/><br/>
        <p><a href="http://us3.campaign-archive2.com/home/?u=5ba37a56b9aba93ca8d1713e9&id=c699537e19">
            See Past issues
        </a></p>


    </div>

    <div class="pod">

        <h3>Submit a talk</h3>

        <p>Everyone knows about something someone else won't, share your knowledge by giving a talk! First time speakers welcome</p>

        <a class="btn" href="mailto:phpdorset@gmail.com?subject=I would like to talk at PHPDorset">Email your abstract</a>

    </div>



</div>

{% endblock %}
