{% extends "master.twig" %}

{% block main_content %}
            <div class="inner cover">
                <p class="lead">
                    <img id="phpdorset-logo" src="/images/logo-transparent.png">
                </p>

                <h2>Next event</h2>

                <p class="event-location">
                    <strong style="font-size:18px;line-height:35px">** No meetup in January **</strong><br><br>
                    <a href="http://phpdorset.eventbrite.co.uk">
                        Mon February 2<sup>nd</sup> 2015 6:05pm<br>
                        <a href="http://bit.ly/1DyoToW">Tickets here</a><br>
                        Westbourne Library,<br>
                        Alum Chine Road,<br>
                        BH4 8DX
                    </a>
                </p>
                <p class="event-location">
                    And then 7:00pm<br>
                    <strong style="font-size:18px;line-height:35px">** The Westbourne **</strong><br>
                    45 Poole Road,<br>
                    Bournemouth<br>
                    BH4 9DN
                </p>
            </div>
{% endblock %}
