{% extends "master.twig" %}

{% block main_content %}

    {% include 'homepage/cta.twig' %}

    <div class="google-maps">
        <iframe src="https://www.google.com/maps/embed/v1/place?q=Barclays+Eagle+Labs+Bournemouth,+Poole+Road,+Branksome,+Poole,+United+Kingdom&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU" width="600" height="450" frameborder="0" style="border:0"></iframe>
        <div class="map-overlay">
            <h2>New Venue, New Time!</h2>
            <p>We are a pleased to announce our new venue is the <strong>Barclays Eagle Labs</strong>, and that we are now starting at the earlier time of <strong>6.30pm</strong>.</p>
        </div>
    </div>

    {% for month, talks in months %}

        {% set colwidth = (talks|length) %}
        {% if colwidth == 1 %}
            {% set colwidth = 2 %}
        {% endif %}

        {% if talks is not empty %}

            <div class="banner clearfix">
                <div class="wrapper clearfix">

                    {#<br><h3>{{ month|date('F Y') }}</h3>#}

                    {% for talk in talks %}

                        {% if talk.date|date('U') >= currentDate|date('U') %}
                            {% include 'homepage/upcoming-talk.twig' %}
                        {% else %}
                            {% include 'homepage/recent-talk.twig' %}
                        {%  endif %}

                    {% endfor %}

                    {% if talks|length < 2 %}
                        {% if talks[1].date|date('U') >= currentDate|date('U') %}
                            {% include 'homepage/venue.twig' %}
                        {% else %}
                            {% include 'homepage/speakers-wanted.twig' %}
                        {% endif %}
                    {% endif %}

                    {% if talks|length > 1 %}
                        {% include 'homepage/venue-summary.twig' %}
                    {% endif %}

                </div>
            </div>

        {% endif %}

    {% endfor %}



    {% include 'homepage/sponsors.twig' %}

{% endblock %}
