{% extends "master.twig" %}

{% block main_content %}
            <div class="inner cover">
                <p class="lead">
                    <img id="phpdorset-logo" src="/images/logo-transparent.png">
                </p>

                <h2>Next event</h2>

                <p class="event-location">
                    <a href="http://phpdorset.eventbrite.co.uk">
                        Mon December 3<sup>rd</sup> 2014 6:05pm<br>
                        Westbourne Library,<br>
                        Alum Chine Road,<br>
                        BH4 8DX
                    </a>
                </p>
                <p class="event-location">
                    And then 7:00pm<br>
                    The Libertine,<br>
                    1 Alumhurst Road,<br>
                    Bournemouth<br>
                    BH4 8EL                    
                </p>
            </div>
{% endblock %}
