{% extends "master.twig" %}

{% block main_content %}
            <div class="inner cover">
                <p class="lead">
                    <img id="phpdorset-logo" src="/images/logo-transparent.png">
                </p>

                <h2>About PHP Dorset</h2>

                <p>
                    PHP Dorset is a local user group, open to all.
                    We have monthly talks followed by a social.
                </p>

                <h2>Next event</h2>

                <p class="event-location">
                    <a href="https://www.eventbrite.co.uk/e/php-dorset-may-meetup-tickets-10834290655">
                        Mon May 12 2014 6:00pm<br>
                        Westbourne Library,<br>
                        Alum Chine Road,<br>
                        BH4 8DX
                    </a>
                </p>
                <p class="event-location">
                    And then 7:00pm<br>
                    The Libertine,<br>
                    1 Alumhurst Road,<br>
                    Bournemouth<br>
                    BH4 8EL
                </p>
            </div>
{% endblock %}
