{% extends "master.twig" %}

{% block main_content %}
            <div class="inner cover">
                <p class="lead">
                    <img id="phpdorset-logo" src="/images/logo-transparent.png">
                </p>
                <p class="event-location">
                    Mon April 07 2014 6:00pm<br>
                    Westbourne Library,<br>
                    Alum Chine Road,<br>
                    BH4 8DX
                </p>
                <p class="event-location">
                    And then 7:00pm<br>
                    The Libertine,<br>
                    1 Alumhurst Road,<br>
                    Bournemouth<br>
                    BH4 8EL
                </p>
            </div>
{% endblock %}
