{% extends "master.twig" %}

{% block main_content %}

    {% include 'homepage/cta.twig' %}

    {% if talksNextMonth is not empty %}

        {% set colwidth = (talksNextMonth|length) %}

        {% if talksNextMonth|length == 1 %}
            {% set colwidth = 2 %}
        {% endif %}

        <div class="banner clearfix">
            <div class="wrapper clearfix">
                {% for key, talk in talksNextMonth %}
                    {% include 'homepage/upcoming-talk.twig' %}
                {% endfor %}

                {% if talksNextMonth|length < 2 %}
                    {% include 'homepage/venue.twig' %}
                {% endif %}

                {% if talksNextMonth|length > 1 %}
                    {% include 'homepage/venue-summary.twig' %}
                {% endif %}
            </div>
        </div>
    {% endif %}

    <div class="banner clearfix">
        <div class="wrapper clearfix">

            {% set colwidth = (talksThisMonth|length) %}

            {% if talksThisMonth|length == 1 %}
                {% set colwidth = 2 %}
            {% endif %}

            {% for key, talk in talksThisMonth %}
                {% include 'homepage/recent-talk.twig' %}
            {% endfor %}

            {% if talksThisMonth|length == 1 %}
                {% include 'homepage/venue.twig' %}
            {% endif %}
        </div>
    </div>

    {% include 'homepage/sponsors.twig' %}

{% endblock %}
