{% extends "master.twig" %}

{% block main_content %}

    <div id="strapline">
        <div class="wrapper">

                <p>
                    PHP Dorset is a local user group, open to all. Monthly talk and meet on the first monday of the month in Westbourne, Dorset.
                </p>

        </div>
    </div>
 
    <div class="banner clearfix">

        <div class="wrapper">

            <div class="info rightalign">
                <h3>Last Event</h3>
                <p>Spring Social &amp; Lightning Talks<br/>
                    11th May 2015<br/>
                    Lightning Talks 7-8pm <a href="https://www.google.co.uk/maps/place/Camden+Bar+Westbourne">Camden Bar</a>
                </p>
                <a class="btn" href="https://php-dorset-may-2015.eventbrite.co.uk/">
                    <span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>&nbsp;&nbsp;Free Registration
                </a>
            </div>

            <div class="image" style="background-image: url('images/banners/lightning-talks-may-2015.png');"></div>

        </div>

    </div>

    <div class="banner clearfix">

        <div class="wrapper">

            <div class="image" style="background-image: url('images/banners/chris-hoult-june-2015.png');"></div>

            <div class="info">
                <h3>Next Event - Your API is a UI</h3>
                <p>
                    1st June 2015 - <a href="https://twitter.com/choult">Christopher Hoult</a><br/>
                    Talk 6-7pm <a href="https://www.google.co.uk/maps/place/Westbourne+Library/">Westbourne Library</a><br/>
                    Social 7pm+ <a  href="https://www.google.co.uk/maps/place/Camden+Bar+Westbourne">Camden Bar</a>
                </p>

                    <a class="btn" href="https://php-dorset-june-2015.eventbrite.co.uk/">
                        <span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>&nbsp;&nbsp;Free Registration
                    </a>

            </div>

        </div>

    </div>

    <div class="banner clearfix">

        <div class="wrapper">

            <div class="info rightalign">
                <h2>Talmudic Maxims to Maximize Your Growth as a Developer</h2>
                <p>
                    6th July 2015 - <a href="https://twitter.com/coderabbi">Yitzchok Willroth (CodeRabbi)</a><br/>
                    Talk 6-7pm <a href="https://www.google.co.uk/maps/place/Westbourne+Library/">Westbourne Library</a><br/>
                    Social 7pm+ <a  href="https://www.google.co.uk/maps/place/Camden+Bar+Westbourne">Camden Bar</a>
                </p>
                <a class="btn" href="https://coderabbi-php-dorset-july-2015.eventbrite.co.uk/">
                    <span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>&nbsp;&nbsp;Free Registration
                </a>
            </div>

            <div class="image" style="background-image: url('images/banners/coderabbi-july-2015.png');"></div>

        </div>

    </div>

    <div class="banner clearfix" id="southcoast">

        <div class="wrapper">

            <div class="image" style="background-image: url('images/banners/southcoast.jpg');"></div>

            <div class="info">
                <h4>PHP South Coast</h4>
                <p>Upcoming Conference<br/>
                    Saturday 18th July 2015
                <br/><br/></p>

                <a class="btn" href="http://phpsouthcoast.co.uk" target="_blank">
                    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp;Find out more
                </a>
            </div>

        </div>

    </div>

    <div id="sponsors">

        <div class="wrapper">

            <h5>Sponsors</h5>

            <div>
                <a href="http://shop.oreilly.com/">
                    <img src="/images/orm.jpg" alt="O'Reilly User Group Program" />
                    <h6>O'Reilly User Group Program</h6>
                </a>
                <p>PHP Dorset is proud to be part of the O'Reilly User Group Program, which means our members can benefit from discounts (40% off printed books, 50% off e-books) and other goodies!</p>
            </div>

            <div>
                <a href="https://www.jetbrains.com/phpstorm/">
                    <img src="/images/logo_phpstorm.png" alt="JetBrains PhpStorm" />
                    <h6>JetBrains PhpStorm</h6>
                </a>
                <p>The editor that actually gets your code and deeply understands its structure, supporting PHP 5.3, 5.4 & 5.5 for modern and legacy projects. Provides the best code autocompletion, refactorings, on-the-fly error prevention, supports language mixtures and more.</p>
            </div>

            <div>
                <a href="https://www.facebook.com/camdenwestbourne">
                    <img src="/images/camdenBar.jpg" alt="Camden Bar Westbourne"/>
                    <h6>Camden Bar Westbourne</h6>
                </a>
                <p>Our current post-talk spot. Camden Bar give PHPDorset members special deals on food and drink, drop us a line to find out more.</p>
            </div>

        </div>

    </div>

{% endblock %}
