{% extends "master.twig" %}

{% block main_content %}
            <div class="inner cover">
                <p class="lead">
                    <img id="phpdorset-logo" src="/images/logo-transparent.png">
                </p>

                <h2>Next event</h2>

                <p class="event-location">
                    <a href="http://bit.ly/1yH7neu">
                        Mon March 2<sup>nd</sup> 2015 6:05pm<br>
                        <strong>Chris Sherry: Wordpress for the Modern PHP Developer</strong>
                        Tickets here<br>
                        Westbourne Library,<br>
                        Alum Chine Road,<br>
                        BH4 8DX
                    </a>
                </p>
                <p class="event-location">
                    And then 7:00pm<br>
                    <strong style="font-size:18px;line-height:35px">Camden Bar - Westbourne for PHPDorset special food and drink deals</strong><br>
                    46 Seamoor Road <br>
                    Bournemouth<br>
                    BH4 9AS
                </p>
            </div>
{% endblock %}
