{% extends "master.twig" %}

{% block main_content %}
            <div class="inner cover">  
                <div class="contact-list">

                    <h3 class="digital">
                    Join in
                    </h3>

                    <p>
                        PHP Dorset is all about the community. There's loads of ways you can get involved. There's no membership fee.
                    </p>    
                    <ul>
                        <li>
                            <a href="http://www.eventbrite.co.uk/org/5284449005">
                                <h4>Register and come along to the events</h4> 
                                We have talks on the first Monday of every month, followed by a social at a pub nearby.
                            </a>
                        </li>

                        <li>
                            <a href="irc://irc.freenode.net:6667/phpdorset">
                                <h4>Chat on IRC</h4>
                                Some of the members hang out in IRC:
                                <code>#phpdorset on freenode.net</code>.
                            </a>
                        </li>

                        <li>
                            <a href="https://groups.google.com/forum/?fromgroups#!forum/phpdorset">
                                <h4>Mailing List</h4> 
                                We have a mailing list to talk about the running of PHP Dorset.
                                If you have ideas or suggestions then get in touch.
                            </a>
                        </li>


                    </ul>

                </div>
            </div>
{% endblock %}
