<div id="footer">

    <div class="wrapper">
        <ul>
                <li>  <a href="mailto:phpdorset@gmail.com">Email</a></li>
                <li> <a href="https://twitter.com/phpdorset" target="_blank">Twitter</a></li>
                <li> <a href="https://groups.google.com/forum/?fromgroups#!forum/phpdorset" target="_blank">Google Group</a></li>
                <li> <a href="irc://irc.freenode.net:6667/phpdorset">IRC</a></li>
        </ul>

    </div>

</div>