<div class="mastfoot">
    <div class="inner">
        <p>
            <a href="irc://irc.freenode.net:6667/phpdorset" target="_blank">IRC</a> |
            <a href="https://twitter.com/phpdorset" target="_blank">Twitter</a> |
            <a href="https://groups.google.com/forum/?fromgroups#!forum/phpdorset" target="_blank">Google Group</a> |
            <a href="http://www.eventbrite.co.uk/org/5284449005" target="_blank">Eventbrite</a> |
            <a href="http://phpdorset.us3.list-manage2.com/subscribe?u=5ba37a56b9aba93ca8d1713e9&amp;id=c699537e19" target="_blank">Newsletter signup</a>
        </p>
    </div>
</div>