 <div class="mastfoot">
    <div class="inner">
        <p>
            <a href="irc://irc.freenode.net:6667/phpdorset" target="_blank">IRC</a> |
            <a href="https://twitter.com/phpdorset" target="_blank">Twitter</a> |
            <a href="https://groups.google.com/forum/?fromgroups#!forum/phpdorset" target="_blank">Google Group</a> |
            <a href="http://www.eventbrite.co.uk/org/5284449005" target="_blank">Eventbrite</a>
        </p>
    </div>
</div>