{% include 'header.twig' %}

<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            {% include 'navigation.twig' %}

            {% block main_content %}{% endblock %}

            {% include 'mast_foot.twig' %}

        </div>

    </div>

</div>

 {% include 'footer.twig' %}


