			<div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">PHP Dorset</h3>
                    <ul class="nav masthead-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/sponsors">Sponsors</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>