<ul class="navigation">
    <li {% if app.current_url == '/' %} class="active" {% endif %}><a href="/">Events</a></li>
    <li {% if app.current_url == '/talks' %} class="active" {% endif %}><a href="/talks">Talks</a></li>
    <li {% if app.current_url == '/get-involved' %} class="active" {% endif %}><a href="/get-involved">Get Involved</a></li>
</ul>
