{% extends "master.twig" %}

{% block main_content %}
            <div class="inner cover">  
                <div class="sponsor">              
                    <h3 class="digital">
                        <a href="https://www.oreilly.com/">O'Reilly User Group Program</a>
                    </h3>
                    <!-- <img src="/images/oreilly-ug.gif" alt="O'Reilly User Group Program"> -->
                    <p>
                        PHP Dorset is proud to be part of the O'Reilly User Group Program, which means our members can benefit from discounts (40% off printed books, 50% off e-books) and other goodies!
                    </p>
                </div>

                <div class="sponsor">
                    <h3 class="digital">
                        <a href="https://www.jetbrains.com/phpstorm/">JetBrains PhpStorm</a>
                    </h3>
                    <!-- <img src="/images/ps7.png" alt="JetBrains PhpStorm" width="150px"> -->
                    <p>
                        The editor that actually gets your code and deeply understands its structure, supporting PHP 5.3, 5.4 & 5.5 for modern and legacy projects. Provides the best code autocompletion, refactorings, on-the-fly error prevention, supports language mixtures and more. 
                    </p>
                </div>

                <div class="sponsor">
                    <h3 class="digital">
                        <a href="https://www.camdenbar.co.uk/">Camden Bar Westbourne</a>
                    </h3>
                    <p>
                        Our current post-talk spot. Camden Bar give PHPDorset members special deals on food and drink, drop us a line to find out more.
                    </p>
                </div>
            </div>
{% endblock %}
