{% extends "master.twig" %}

{% block main_content %}
            <div class="inner cover">  
                <div class="contact-list">   
                    <h3 class="digital">
                    Talks
                    </h3>

                    <p><a href="/talks/2015/march">March 2015 - WordPress for the modern PHP developer</a> -
                    <em><a href="https://twitter.com/tweetingsherry">Chris Sherry</a></em> </p>

                    <p><a href="/talks/2014/july">July 2014 - Chat-Ops for Fun & Profit</a> -
                    <em><a href="https://twitter.com/fully_baked">Dave Baker</a></em> </p>

                    <p><a href="/talks/2014/june">June 2014 - Dip Your Toes in the Sea of Security</a> -
                    <em><a href="https://twitter.com/asgrim">James Titcumb</a> <a href="http://phphants.co.uk/">(PHP Hampshire)</a></em></p>

                    <p><a href="/talks/2014/may"> May 2014 - Functional Programming</a> -
                    <em><a href="https://twitter.com/Treffynnon">Simon Holywell</a></em></p>

                    <p><a href="/talks/2014/april"> April 2014 - Silex and Twig </a> -
                    <em><strike>Jon Ginn</strike> <a href="https://twitter.com/dave1010">Dave Hulbert</a> &amp; <a href="https://twitter.com/rossey">Alex Ross</a></em></p>


                </div>
            </div>
{% endblock %}
