{% extends "master.twig" %}

{% block main_content %}
    <div id="strapline">
        <div class="wrapper">

            <p>
                We have had some great speakers from all over the country come and talk to us, and we have more great talks lined up.
            </p>

        </div>
    </div>

    <div class="wrapper clearfix inner">

        <h2>Talk Archive</h2>

        <ul class="talk_list">

            <li>
                <a href="/talks/2014/july">
                <h3>July 2014</h3>
                <img src="https://pbs.twimg.com/profile_images/3479534354/6410737b00d9c96cd3e46256950521dd_400x400.jpeg"/><br/>

                    Chat-Ops for Fun & Profit
                    <em>- Dave Baker</em>
                </a>
            </li>

            <li>
                <a href="/talks/2014/june">
                    <h3>June 2014</h3>
                    <img src="https://pbs.twimg.com/profile_images/550926756543094785/hTcbJAYb_400x400.png"/><br/>

                    Dip Your Toes in the Sea of Security
                    <em>- James Titcumb </em>
                </a>
            </li>

            <li>
                <a href="/talks/2014/may">
                    <h3>May 2014</h3>
                <img src="https://pbs.twimg.com/profile_images/552579893968379904/Ihn1-_Nh_400x400.jpeg"/><br/>


                    Functional Programming
                 <em>- Simon Holywell</em></a>
            </li>

            <li>
                <a href="/talks/2014/april">
                    <h3>April 2014</h3>
                <img src="https://pbs.twimg.com/profile_images/555123789449551872/laA2ajHC_400x400.jpeg"/>
                <img src="https://pbs.twimg.com/profile_images/473390267207151616/fjtJUkQt_400x400.jpeg"/><br/>

                 Silex and Twig
                <em>- <strike>Jon Ginn</strike> Dave Hulbert &amp; Alex Ross
                </a>
            </li>

        </ul>
</div>



{% endblock %}
