{% extends "master.twig" %}

{% block main_content %}
    <div id="strapline">
        <div class="wrapper">
            <p>
                PHP Dorset is a Bournemouth based community for anyone interested in the PHP programming language, or web development in general.
            </p>
        </div>
    </div>
<div class="inner">
    <h3>Page Not Found</h3>
</div>
{% endblock %}
