@font-face {
    font-family: 'minecraftiaregular';
    src: url('/fonts/minecraftia-webfont.eot');
    src: url('/fonts/minecraftia-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/minecraftia-webfont.woff') format('woff'),
    url('/fonts/minecraftia-webfont.ttf') format('truetype'),
    url('/fonts/minecraftia-webfont.svg#minecraftiaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}