<div id="strapline">
    <div class="wrapper">
        <p>
            PHP Dorset is a local user group, open to all. Monthly meet on the second Monday of the month in Lansdowne, Dorset.
        </p>
    </div>
</div>