<div class="col-{{ colwidth }}">
    <div class="inner clearfix">

        <div class="image">
            <img title="St. Ambrose Church Hall" alt="phpdorset" class="circle" src="/images/logo-transparent.png">
        </div>

        <div class="info">
            <h3>Speakers Wanted</h3>
            <h4>Talk at PHPDorset</h4>

            <p>Whether you've never given a talk before, our friendly environment is the perfect place to start!</p>
            <a class="btn" href="mailto:phpdorset@gmail.com?subject=I would like to talk at PHPDorset">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;&nbsp;Email us
            </a>
        </div>
    </div>
</div>