<div id="sponsors">

    <div class="wrapper">

        <h5>Sponsors</h5>

        <div>
            <a href="http://shop.oreilly.com/">
                <img src="/images/orm.jpg" alt="O'Reilly User Group Program"/>
                <h6>O'Reilly User Group Program</h6>
            </a>

            <p>PHP Dorset is proud to be part of the O'Reilly User Group Program, which means our members can benefit
                from discounts (40% off printed books, 50% off e-books) and other goodies!</p>
        </div>

        <div>
            <a href="https://www.jetbrains.com/phpstorm/">
                <img src="/images/logo_phpstorm.png" alt="JetBrains PhpStorm"/>
                <h6>JetBrains PhpStorm</h6>
            </a>

            <p>The editor that actually gets your code and deeply understands its structure, supporting PHP 5.3, 5.4 &
                5.5 for modern and legacy projects. Provides the best code autocompletion, refactorings, on-the-fly
                error prevention, supports language mixtures and more.</p>
        </div>

        <div>
            <a href="https://www.facebook.com/camdenwestbourne">
                <img src="/images/camdenBar.jpg" alt="Camden Bar Westbourne"/>
                <h6>Camden Bar Westbourne</h6>
            </a>

            <p>Our current post-talk spot. Camden Bar give PHPDorset members special deals on food and drink, drop us a
                line to find out more.</p>
        </div>

    </div>

</div>