<div id="sponsors">

    <div class="wrapper">

        <h5>Sponsors</h5>

        <div>
            <a href="https://www.spectrumit.co.uk/">
                <img src="/images/spectrum.jpg" alt="Spectrum"/>
                <h6>Spectrum IT</h6>
            </a>

            <p>Spectrum IT provide sponsorship each month so we can hire our venue and provide refreshments for our attendees. They are the South's recruitment experts for permanent & contract IT, Software Development & Software Engineering job opportunities</p>
        </div>

        <div>
            <a href="https://shop.oreilly.com/">
                <img src="/images/orm.jpg" alt="O'Reilly User Group Program"/>
                <h6>O'Reilly User Group Program</h6>
            </a>

            <p>PHP Dorset is proud to be part of the O'Reilly User Group Program, which means our members can benefit
                from discounts (40% off printed books, 50% off e-books) and other goodies!</p>
        </div>

        <div>
            <a href="https://www.jetbrains.com/phpstorm/">
                <img src="/images/logo_phpstorm.png" alt="JetBrains PhpStorm"/>
                <h6>JetBrains PhpStorm</h6>
            </a>

            <p>The editor that actually gets your code and deeply understands its structure, supporting PHP 5.3 to 7.0 for modern and legacy projects. Provides the best code autocompletion, refactorings, on-the-fly
                error prevention, supports language mixtures and more.</p>
        </div>

    </div>

</div>