<div style="clear:both">
    Talks 7:30pm <a href="https://www.google.com/maps/place/50%C2%B043'02.5%22N+1%C2%B054'02.1%22W/@50.7173718,-1.9011182,192m/data=!3m2!1e3!4b1!4m2!3m1!1s0x0:0x0?hl=en-US">St. Ambrose Church Hall</a> | Social 8:30/9:00pm+ <a href="https://www.google.co.uk/maps/place/Camden+Bar+Westbourne">Camden Bar</a><br/><br/>
</div>
