<div style="clear:both">
    Talk 7:30pm <a href="https://www.google.com/maps?ll=50.717601,-1.899877&z=15&t=m&hl=en-US&gl=GB&mapclient=embed&cid=17690204135300394123">St. Ambrose Church Hall</a> | Social 8:30/9:00pm+ <a href="https://www.google.co.uk/maps/place/Camden+Bar+Westbourne">Camden Bar</a><br/><br/>
</div>