<div class="col-{{ colwidth }}">
    <div class="inner clearfix">

        <div class="image">
            <a href="https://www.google.com/maps/place/Executive+Business+Centre/@50.7243839,-1.8663199,17z/data=!3m1!4b1!4m5!3m4!1s0x4873a1de59e9ecff:0xc77397affb8ea8f9!8m2!3d50.7243839!4d-1.8641312">
                <img title="Executive Business Centre, Lansdowne" alt="Executive Business Centre, Lansdowne" class="circle"
                     src="/images/ebc.png">
            </a>
        </div>

        <div class="info">
            <h4>Talks</h4>

            <p>6:30pm<br/>
                <a href="https://www.google.com/maps/place/Executive+Business+Centre/@50.724321,-1.8649037,19z/data=!4m5!3m4!1s0x4873a1de59e9ecff:0xc77397affb8ea8f9!8m2!3d50.7243839!4d-1.8641312">Executive Business Centre, Lansdowne</a></p>
        </div>
    </div>
</div>
