<div class="col-{{ colwidth }}">
    <div class="inner clearfix">

        <div class="image">
            <a href="https://www.google.com/maps/embed/v1/place?q=Barclays+Eagle+Labs+Bournemouth,+Poole+Road,+Branksome,+Poole,+United+Kingdom&key=AIzaSyBl68us1yfPZxgdQ85sutHGWcY11MwibeI">
                <img title="Barclays Eagle Labs, Bournemouth" alt="Barclays Eagle Labs, Bournemouth" class="circle"
                     src="https://maps.googleapis.com/maps/api/staticmap?center=50.724027, -1.906230&zoom=18&scale=false&size=300x300&maptype=satellite&format=png&visual_refresh=true">
            </a>
        </div>

        <div class="info">
            <h4>Talks</h4>

            <p>6:30pm<br/>
                <a href="https://www.google.co.uk/maps/place/Barclays+Eagle+Labs+Bournemouth/@50.7240651,-1.9065027,20.53z/data=!4m13!1m7!3m6!1s0x0:0x0!2zNTDCsDQzJzI2LjUiTiAxwrA1NCcyMi40Ilc!3b1!8m2!3d50.724027!4d-1.90623!3m4!1s0x0:0x37cb1d885d2c266e!8m2!3d50.7240547!4d-1.9063123">Barclays Eagle Labs, Bournemouth</a></p>

            <h4>Socials</h4>

            <p>8pm+<br/><a href="https://www.google.co.uk/maps/place/The+Libertine+Westbourne">The Libertine</a></p>
        </div>
    </div>
</div>
