<div class="col-{{ colwidth }}">
    <div class="inner clearfix">

        <div class="image">
            <a href="https://www.google.com/maps?ll=50.717601,-1.899877&z=15&t=m&hl=en-US&gl=GB&mapclient=embed&cid=17690204135300394123">
                <img title="St. Ambrose Church Hall" alt="St. Ambrose Church Hall" class="circle"
                     src="http://maps.googleapis.com/maps/api/staticmap?center=50.717411,+-1.900293&zoom=18&scale=false&size=300x300&maptype=satellite&format=png&visual_refresh=true">
            </a>
        </div>

        <div class="info">
            <h4>Talks</h4>

            <p>7:30pm<br/><a
                        href="https://www.google.com/maps?ll=50.717601,-1.899877&z=15&t=m&hl=en-US&gl=GB&mapclient=embed&cid=17690204135300394123">St.
                    Ambrose Church Hall</a></p>

            <h4>Socials</h4>

            <p>8:30/9:00pm+<br/><a href="https://www.google.co.uk/maps/place/Camden+Bar+Westbourne">Camden Bar</a></p>
        </div>
    </div>
</div>