<div style="clear:both">
    Talks 6:30pm <a href="https://www.google.co.uk/maps/?q=Barclays+Eagle+Labs+Bournemouth,+Poole+Road,+Branksome,+Poole,+United+Kingdom&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU">Barclays Eagle Labs, Bournemouth</a> | Social 8pm+ <a href="https://www.google.co.uk/maps/place/The+Libertine+Westbourne">The Libertine</a><br/><br/>
</div>
